<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Model</th>
            <th>Cost</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:utext="${car.model}"></td>
            <td th:utext="${car.cost}"></td>
        </tr>
    </table>

    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<a href="/">Return</a>
</body>
</html>